*{
	margin:0;
	padding:0;
	box-sizing:border-box ;
	font-family:"ui-monospace";
}
b{color:#ff0055;}
a{text-decoration:none;color:#fff;}
#header-bar.active{color:#f81707f5;
background:rgba(255,255,255,.9);}
#header-bar{
	position:fixed;top:0;
	padding:2vh;
	height:9vh;
	width:100vw;
	display:flex;
	align-items:center ;
	justify-content:space-between;
	background:coral ;
	color:#fff;
	z-index:3;
	transition-duration:1s;
}
ul li{
	padding:2vh;
	text-align:center ;
	list-style:none;
	font-weight:700;
}
#slider{
	position:fixed ;
	top:0;left:0;
	height:100vh;
	display:none;
	align-items:center ;
	justify-content:center ;
	z-index:4;color:#fff;
}
#nav-bar{
	padding:2vh;
	font-size:1.5em;
	height:100vh;width:70vw;
	background:#222;
}
#close{height:100vh;width:30vw;}
#logo{
	height:100vh;width:100vw;
	display:flex;
	align-items:center ;
	justify-content:flex-start ;   background:url("tkg69Zc.jpg"); 
	background-size:cover;
}
#logo li{
	color:#fff;text-align:left;
	margin:3vh;padding:0;
}
#logo button{
	height:30px;width:120px;
	font-size:1em;
	font-weight:700;
	background:#fff;	
	border:none ;outline:none;
}
#logo a{color:#000;}
#product{
	width:100vw;
	padding:10px;display:grid;	  grid-template-columns:repeat(2,1fr);  
	grid-gap:2vh;
	align-self:center;
	justify-content:center;
	background:#111;color:#fff;
	overflow:hidden ;
	text-align:center ;	
}
#product .product{
	height:40vh;
	display:flex;
	align-items:flex-end;
	justify-content:center ;
	color:#fff;
	box-shadow:0 0 2px 4px rgba(0,169,255,.35);
	transition:0.5s;
}
#product .product:hover{box-shadow:0 0 2px 2px rgba(0,169,255,.35);}
#product .product #info-p{
	width:100%;padding:1vh;
	background:rgba(0,0,0,.6);
}
#product h2{padding:5px;}
#buy{
	height:40px;width:130px;
	color:#000;
	font-weight:700;
	font-size:1.2em;
	background:#fff;
	border:none;outline:none;
	border-radius:100px;
}
#switch{
	height:5vh;width:10vh;
	display:flex;padding:1vh;
	align-items:center ;
	justify-content:flex-start;
	border-radius:50px;
	border:3px solid #fff;
}

#swch{
	height:2vh;width:2vh;
	border-radius:50%;
	box-shadow:0 0 0 3px #fff;
}

#info{
	position:fixed ;
	top:0;left:0;
	height:100vh;
	width:100vw;
	color:darkcyan;background:#222;
	z-index:5;
	display:none;
}
#info button{
	padding:0.5vh;
	margin-left:2vw;
	outline:none;
	border:none;
	background:#ff0022;
	box-shadow:0 0 2px 2px #0091ff;
	color:#fff;
	font-weight:700;
	text-transform:uppercase ;
}
.img-box{
	height:40vh;width:100vw;
	display:flex;
	align-items:center ;
	justify-content:center ;
	background:#fff;color:#000;
}
#info img{
	height:40vh;width:auto ;
	background-size:cover;
}
#info h1{
	position:absolute ;
	top:2vh;left:2vh;
	background:#fff;
	border-radius:50%;
}
#about{
	width:100vw;color:#fff;
	background:#222;
	overflow:hidden ;
}
#about img{
	height:auto;width:20vw;
	background-size:cover;
	filter:drop-shadow();
}
#about input{
	outline:none;border:none;
	box-shadow:0 0 2px 2px #00adff;
	padding:0.5vh;font-weight:bold;	  
}
#product button{
	padding:0.5vh;
	margin-left:2vw;
	outline:none;
	border:none;
	background:#ff0022;
	box-shadow:0 0 2px 2px #0091ff;
	color:#fff;
	font-weight:700;
	text-transform:uppercase ;
}

/*Night Mode*/
body.swch #switch{justify-content:flex-end;}
body.swch #slider{filter:invert(1);}
body.swch #product{background:#fff;}
body.swch #product .product{
	box-shadow:0 0 4px 4px rgba(0,0,0,.35);
	transition-duration:0.5s;}body.swch #product .product:hover{
	box-shadow:0 0 1px 1px rgba(0,0,0,.35);}
body.swch #about{
	background:#fff;color:#000;}
body.swch #info{
	background:#fff;color:#000;}
body.swch #logo{
background:"tkg69Zc.jpg"; 
background-size:cover;}
body.swch #logo button{background:#ff0055;}
body.swch #logo li{color:#000;}
body.swch #about img{filter:invert(0)}
body.swch #header-bar{color:#000;}